body{
    margin:0;
    background-color:#0B2161;
    color:white;
}

a:link{text-decoration:underline;color:orange;}
a:visited{text-decoration:underline;color:orange;}

a.sp_menu:link{text-decoration:none;color:orange;}
a.sp_menu:visited{text-decoration:none;color:orange;}

@font-face{
    font-family: RobotoSlab;
    src:url('../font/RobotoSlab-Bold.ttf')format('truetype');
}

@font-face{
    font-family: ShareTech;
    src:url('../font/ShareTech-Regular.ttf')format('truetype');
}

.sp_menu{
    display:block;
    padding:0.5em 1em;
    text-decoration:none;
    background:#f7f7f7;
    border-right:solid 6px orange;
    color:#ff7c5c;
    font-weight:bold;
    box-shadow:0px 2px 2px rgba(0,0,0,0.29);
    margin-top:5px;
    margin-bottom:5px;
}
.sp_menu:active{
    box-shadow:inset 0 0 2px rgba(128,128,128,0.1);
    transform:translateY(2px);
}

.sub_title{
    opacity: 0;
}

.sub_title span{
    opacity:0;
}

.margin{
    padding-left:1em;
}

#content{
    height: 100%;
    min-height: 500px;
    display: block;
}
    
#top{
    height:100%;
    display:table;
    text-align: center;
    margin:0 auto;
}

#back{
display:none;
}
    
#menu{
display:none;
}
    
#title{
    font-family: 'RobotoSlab', serif;
    position:relative;
    width:auto;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
    
#main_title{
    font-size: 40px;
}
    
#sub_title{
    font-size: 20px;
}

#about{
    position: relative;
    text-align: center;
}

#profile_img{
    text-align:center;
    margin-bottom:15px;
    border-radius:20px;
    background-color:#CECEF6;
}

#profile{
    line-height:200%;
    display: inline-block;
    /*/width:90%;/*/
    margin-left:5%;
    margin-right:5%;
}

#sns{
    font-family: 'ShareTech', serif;
    display: inline-block;
}

#twitter_bt{
    background-color:#4169e1;
    border-radius: 20px;
    height: 30px;
    width: 100px;
    vertical-align: middle;
    display: inline-block;
    line-height: 180%;
    color:white;
    margin:2.5px;
}

#qiita_bt{
    background-color:green;
    border-radius: 20px;
    height: 30px;
    width: 100px;
    vertical-align: middle;
    display: inline-block;
    line-height: 180%;
    color:white;
    margin:2.5px;
}

#github_bt{
    background-color:grey;
    border-radius: 20px;
    height: 30px;
    width: 100px;
    vertical-align: middle;
    display: inline-block;
    line-height: 180%;
    color:white;
    margin:2.5px;
}

#activity{
    text-align: left;
    display: inline-block;
    vertical-align: top;
    line-height:150%;
}

#contact-content_imput{
    margin:0;
}

#errer{
    text-align:left;
}

.page_name{
    font-family: ShareTech;
    font-size: 40px;
    text-align: center;
    position: relative;
}

.heading{
    position:relative;
    display:inline-block;
    padding:0 55px;
    text-align:center;
}

.heading:before,.heading:after{
    content:'';
    position:absolute;
    top:50%;
    display:inline-block;
    width:45px;
    height:1px;
    background-color:white
}

.heading:before{
    left:0;
}
.heading:after{
    right:0;
}

.go_right{
    position:absolute;
    right:2%;
    top:37%;
    width:15px;
    height:15px;
    border:5px solid;
    border-color:#565656 #565656 transparent transparent;
    transform:rotate(45deg);
    cursor: pointer;
}

.go_left{
    position:absolute;
    left:2%;
    top:37%;
    display:none;
    width:15px;
    height:15px;
    border:5px solid;
    border-color:transparent transparent #565656 #565656;
    transform:rotate(45deg);
    cursor: pointer;
}

.modal_img{
    display:none;
}

.works_img{
        width:100%;
        margin-top:10px;
        margin-bottom:10px;
}

.works_description{
    display:none;
}

#contact-content_imput{
    width:100%;
}

#submit{
    display:inline-block;
    padding:0.5em 1em;
    text-decoration:none;
    background:white;
    color:black;
    border-bottom:solid 4px #627295;
    border-radius:3px;
}
#submit:active{
    -ms-transform:translateY(4px);
    -webkit-transform:translateY(4px);
    transform:translateY(4px);
    border-bottom:none;
}

#submit:over{
    -ms-transform:translateY(4px);
    -webkit-transform:translateY(4px);
    transform:translateY(4px);
    border-bottom:none;
    background:white;
}

#contact_form{
    text-align:center;
    margin:0 auto;
    width:90%;
    padding-bottom:100px;
}
    
#name_imput{
    border:0;
    padding:10px;
    font-size:1.3em;
    font-family:Arial,sans-serif;
    color:#aaa;
    border:solid 1px #ccc;
    margin:0 0 20px;
    width:100%;
}
    
#e-mail_imput{
    border:0;
    padding:10px;
    font-size:1.3em;
    font-family:Arial,sans-serif;
    color:#aaa;
    border:solid 1px #ccc;
    margin:0 0 20px;
    width:100%;
}
    
#contact-content_imput{
    border:0;
    padding:10px;
    font-size:1.3em;
    font-family:Arial,sans-serif;
    color:#aaa;
    border:solid 1px #ccc;
    margin:0 0 20px;
    width:100%;
    }

@media all and (min-width:768px){

a:link{text-decoration:underline; color:#0000EE;}
a:visited{text-decoration:underline;color:#551A8B;}

a.menu:link {text-decoration:none; color: white ;}
a.menu:visited {text-decoration:none; color: white ; }
a.menu:hover {text-decoration:none; color: white ; background-color:orange; font-style:italic;}
a.menu:active {text-decoration:none; color: white ; background-color:orange; font-style:italic;}

a.link:link{text-decoration:underline;color:orange;}
a.link:visited{text-decoration:underline;color:orange;}

    #hamburger{
        display: none;
    }
    
    #content{
        padding-left:240px;
    }
    #back{
        display:block;
        background-color:white;
        height:100%;
        min-height:300px;
        width:170px;
        left:60px;
        position:fixed;
        opacity:0.5;
    }
    
    #menu{
        display:block;
        font-family: 'RobotoSlab', serif;
        line-height: 125%;
        width:170px;
        left:60px;
        position:fixed;
        z-index:10;
        height: 100px;
        top:50%;
        margin-top:-90px;
        text-align:center;
    }
    
    #sub_title{
        font-size: 30px;
    }
    
    #profile{
        /*/width:100%;/*/
    }
    
    #activity{
        padding-left: 50px;
    }
    
    #works{
        position: relative;
        /*height:100%;*/
        margin-top:60px;
        text-align: center;
    }
    
    .works_img{
        width:200px;
        height:110px;
        margin:20px;
        display: inline-block;
        cursor: pointer;
        z-index: 0;
    }
    
    #back_black{
        position:fixed;
        left:0;
        top:0;
        width:100%;
        height:100%;
        z-index:0;
        background-color:black;
        display:none;
        overflow: hidden;
        opacity: 0.5;
    }
    
    .works_description{
        display:inline;
        background-color:white;
        border-radius:20px;
        position:fixed;
        top:50%;
        left:50%;
        transform:translateY(-50%) translateX(-50%);
        -webkit-transform:translateY(-50%) transformX(-50%);
        z-index:0;
        display:none;
        padding-top:10px;
        text-align:center;
        max-width: 800px;
        max-height:100%;
        overflow: hidden;
        color:black;
    }
    
    .description_text{
        padding:10px 7px 10px 7px;
        text-align:left;
        clear:both;
    }
    
    .works_title{
        text-align: center;
        clear:both;
    }
    
    .scroll{
        display:inline-block;
        position:relative;
        overflow:scroll;
        white-space:nowrap;
        right:30px;
    }

    .modal_img{
        position:relative;
        margin-left:20px;
        display:inline-block;
    }
    
    .close{
        display:inline-block;
        position:absolute;
        margin:10px 15px 0px 0px;
        padding:0;
        width:4px;
        height:20px;
        background:#000;
        transform:rotate(45deg);
        right:0;
        top:0;
        cursor: pointer;
    }
    
    .close:before{
        display:block;
        content:"";
        position:absolute;
        top:50%;
        left:-8px;
        width:20px;
        height:4px;
        margin-top:-2px;
        background:#000;
        cursor: pointer;
    }
    #contact{
        position: relative;
        height:100%;
        text-align:center;
    }
    
    #contact_form{
        text-align:left;
        width:530px;
    }
    
    #name_imput{
        width:300px;
    }
    
    #e-mail_imput{
        width:300px;
    }
    
    #contact-content_imput{
        width:500px;
    }
    
}